* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.blue-button {
	padding: 10px 80px;
	border-radius: 20px;
	border: none;
	background: linear-gradient(
		to bottom,
		rgb(66, 166, 252),
		rgb(32, 123, 254)
	);
	color: white;
}

.blue-button:hover {
	cursor: pointer;
}
.App {
	max-width: 480px;
	margin: 0 auto;
}

.input-form {
	padding: 10px 10px;
	border-radius: 20px;
	border: 1px solid gray;
	margin-bottom: 10px;
}
.input-form__searchbar {
	padding: 10px 10px;
	width: 90%;
	border-radius: 20px;
	border: 1px solid gray;
}

.display-flex__centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
.display-flex__evenly {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.display-flex__between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	height: 40px;
}
.icons-big {
	height: 50px;
}
