* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.blue-button {
	padding: 10px 80px;
	border-radius: 20px;
	border: none;
	width: 100%;
	background: linear-gradient(
		to bottom,
		rgb(66, 166, 252),
		rgb(32, 123, 254)
	);
	color: white;
}

.blue-button:hover {
	cursor: pointer;
}
.App {
	max-width: 480px;
	margin: 0 auto;
}

.input-form {
	padding: 10px 10px;
	border-radius: 20px;
	border: 1px solid gray;
	margin-bottom: 10px;
	width: 100%;
}
.input-form__searchbar {
	padding: 10px 10px;
	width: 30%;
	border-radius: 20px;
	border: 1px solid gray;
}

.display-flex__centered {
	display: flex;
	justify-content: center;
	align-items: center;
}
.display-flex__evenly {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.display-flex__between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.direction-column {
	flex-direction: column;
}

.logo {
	height: 40px;
}
.icons-big {
	height: 50px;
}

.back-button {
	height: 20px;
}

.icon-color-income {
	filter: invert(49%) sepia(98%) saturate(1758%) hue-rotate(192deg)
		brightness(97%) contrast(109%);
}
.icon-color-expense {
	filter: invert(83%) sepia(34%) saturate(5808%) hue-rotate(344deg)
		brightness(107%) contrast(103%);
}

.avatar-pic {
	height: 55px;
	width: 55px;
	border-radius: 70px;
	object-fit: cover;
}

.required {
	border: 2px solid red;
}
