select {
    -webkit-appearance: none;
    appearance: none;
}
.select-wrapper {
    position: relative;
    width: 100%;
}

.select-wrapper::after {
    content: "";
    background-image: url("../../../public/images/arrowDownIcon.svg");
    width: 25px;
    height: 25px;
    font-size: 1.8rem;
    top: 19px;
    right: 17px;
    position: absolute;
    pointer-events: none;
}
