.home .wallet {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.home h2 {
	margin: 20px 0 24px;
}
.home div .display-flex__evenly {
	gap: 20px;
}
.half-sized {
	background-color: #f7f7f7;
	border-radius: 10px;
	flex-grow: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 150px;
	width: 50%;
}
.half-sized div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}
.wallet .round div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
