.all-transactions .search-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.all-transactions .total-inc-exp-wrapper {
    gap: 20px;
}

.income-img:hover,
.expense-img:hover {
    cursor: pointer;
}

/* .all-transactions {
	overflow: scroll;
} */
