.all-transactions .search-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.all-transactions .search-row input {
	width: 50px;
	aspect-ratio: 1/1;
	padding: 0;
	font-size: 1.7rem;
	display: flex;
	justify-content: center;
	cursor: pointer;
	z-index: 2;
}
.all-transactions .total-inc-exp-wrapper {
	gap: 5px;
	margin-bottom: 5px;
}

.income-img:hover,
.expense-img:hover {
	cursor: pointer;
	user-select: none;
	background-color: rgb(230, 230, 230);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
	margin: 0;
	cursor: pointer;
}
input[type="date"]::-webkit-datetime-edit {
	display: none;
}

input#search-input {
	background-image: url("../../../public/images/Search.svg");
	background-repeat: no-repeat;
	background-position: center;
	text-indent: 20px;
	caret-color: transparent;
	position: absolute;
	right: 60px;
}

.all-transactions .search-row input#search-input.search-active {
	z-index: 2;
	width: 200px;
	height: 50px;
	background-position-x: 90%;
	transition-duration: 0.3s;
	caret-color: black;
}
.all-transactions h2 {
	margin: 30px 0 20px;
}
